{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Fernando Rodea</h2>   
        <p>Nacido en Toluca, Estado de Mexico</p>
        <p>He iniciado en el ambito de la tecnologia desde el año 2020, cursando la carrera de informatica en Conalep Lerma 199 y actualmente estudiando en Universidad Tecnologica del Valle de Toluca</p>
    </div>
</div>
{% endblock %}
