{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>En Api no solo damos soporte técnico en TI, redes y telecomunicaciones; también nos importa ofrecer una buena atención y ayudar realmente a cada cliente. </p>
        <p>Buscamos soluciones prácticas, seguras y que puedan crecer según lo que necesite cada proyecto.</p>
            
        <br>
        <p><b>Teléfono:</b> +52 7228825169</p>
        <p><b>Honorarios:</b> 1500$ (precio base)</p>
    </div>
</div>
{% endblock %}

